 body {
}

.card-product{
    width:250px;
    height:350px;
}
.card-img-top{
    width: 250px;
    height:200px;
}

.card1 {
    width:250px;
    height:200px;    
}
.card-body{
    width:250px;
    height:100px;  
}

p{
    font-family:'Times New Roman';
    font-size:18px;
    height:70px;
}

.mua{
    float:left;
}

.ct{
    float:right;
}